@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Lilita+One&family=Montserrat+Alternates:wght@600;700&family=Poppins&display=swap");


::selection {
    color: #fff;
    background: #0020FF;
}
body{
    font-family: 'Poppins';
}

/* THE HEADER */
.header{
    position: static;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FFF;
    padding: .5rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}


/* HEADER LEFT */
.header .left-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.header .left-header .logo-imsp{
    margin-right: .8rem;
}
.header .left-header .logo-imsp img{
    height: 5rem;
    width: 5rem;

}
.header .left-header .text-imsp {
    font-family: 'Balsamiq Sans';
    color: #001b50;
    font-size: 1.2rem;
    font-weight:bolder;
}



/* HEADER RIGHT */
.header .right-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .right-header .logo-cea{
    margin-left: .1rem;
}
.header .right-header .logo-cea img{
    height: 5rem;
    width: 5.2rem;
}
.header .right-header .text-cea{
    font-family: 'Balsamiq Sans';
    color: #001b50;
    font-size: 1.1rem;
    font-weight:lighter; 
}



/* CONNECT LINKS */
.connect-links{
    /* position: fixed; */
    margin: 0.5rem;
    right: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.connect-links .signup, .connect-links .signin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 1rem;
}
.connect-links .signup img, .connect-links .signin img{
    width: 1.4rem;
    margin-right: .5rem;
}


/* IMAGE BANNER */
.image-banner .image-container img{
    width: 100vw;
    height: 100%;
}
.image-banner .line{
    /* width: 100vw; */
    height: .4rem;
    background: #ADADAD;
}



/* MENU BAR */
.menu-bar{
    padding: 0.1rem 1rem;
    background: #b9dfff;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    border-bottom: .18rem solid #0020FF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    
}
.menu-bar div .item a{
    text-decoration: none;
    color: black;
    margin: 0 .8rem;
    font-weight: bolder;
}

.menu-bar .home .item, .menu-bar .formation .item, .menu-bar .recherche .item, .menu-bar .bourses .item, .menu-bar .partenaires .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    font-size: 1.08rem;
    padding: 0.1rem 1.15rem;
}
.menu-bar .home .item:hover, .menu-bar .formation .item:hover, .menu-bar .recherche .item:hover, .menu-bar .bourses .item:hover, .menu-bar .partenaires .item:hover{
    background: #a0d4ff;
}

.menu-bar .home .item img{
    width: 1.1rem;
}
.menu-bar .formation .item img, .menu-bar .recherche .item img, .menu-bar .bourses  .item img, .menu-bar .partenaires  .item img{
    width: .7rem;
}

.dropdown:hover .dropdown-item{
    display: block;
}

.dropdown-item{
    display: none;
    position: absolute;
    background-color: #ececec;
    z-index: 1;
   
    margin-top: .1rem;
}
.dropdown-item a{
    float: none;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    color: #001b50;
    text-decoration: none;
    display: block;    
}
.formation-dropdown a{
    padding-right: 3.96rem;
}
.recherche-dropdown a{
    padding-right: 2.9rem;
}
.partenaires-dropdown a{
    padding-right: 6.3rem;
}
.dropdown-item a:hover{
    background-color: #a0d4ff;
    border-bottom: .35rem solid #fff;
}

/* QUI SOMMES NOUS ? */
.quisommesnous{
    /* margin-top: .5rem; */
    padding: 3rem 8rem;
    /* padding-right: 5rem; */
    display: grid;
    grid-template-columns: auto auto;
    background: linear-gradient(261.64deg, #F3F3F3 28.49%, rgba(243, 243, 243, 0) 91.02%);
}
.quisommesnous .quisommesnous-text h1{
    font-family: 'Balsamiq Sans';
    font-size: 2.2rem;
    color: #001b50;
}
.quisommesnous .quisommesnous-text p{
    font-size: 1.05rem;
}
.quisommesnous .quisommesnous-text a{
    float: right;
    margin-right: 6rem;
}
.quisommesnous .quisommesnous-images{
    width: 22rem;
}

/* NOS DOMAINES */
.nosdomaines{
    margin: 4rem 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(116, 230, 255, 0.21) 0%, rgba(0, 49, 223, 0.0042) 100%);
}
.nosdomaines .nosdomaines-titre{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nosdomaines .nosdomaines-titre h1{
    font-family: 'Balsamiq Sans';
    color: #001b50;
    margin: 1rem;
}
.nosdomaines .nosdomaines-titre img{
    width: 2rem;
}
.nosdomaines .nosdomaines-content{
    display: grid;
    grid-template-columns: auto auto;
}
.nosdomaines .nosdomaines-content .grid-left div, .nosdomaines .nosdomaines-content .grid-right div{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: .7rem 1rem;
    margin: 2rem 0;
    
    
}
.nosdomaines .nosdomaines-content .grid-left .stats-proba{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 8.5rem;
    float: right;
    margin-right: 10rem;
    background: #FFE8E0;
    color: #EC511F;
    border: .5px solid #fff;
    cursor: pointer;
}
.nosdomaines .nosdomaines-content .grid-left .stats-proba:hover{
    background: #fcd3c6;
    border: 2px solid #fff;
}
.nosdomaines .nosdomaines-content .grid-left .maths-fonda{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 22.2rem;
    float: right;
    margin-right: 10rem;
    background: #b8c7ff;
    color: #194AFA;
    border: .5px solid #fff;
    cursor: pointer;
}
.nosdomaines .nosdomaines-content .grid-left .maths-fonda:hover{
    background: #b4c1ec;
    border: 2px solid #fff;
}

.nosdomaines .nosdomaines-content .grid-right .tic{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 14.1rem;
    float: left;
    margin-right: 10rem;
    color: #66864D;
    background: #d8fcbd;
    border: .5px solid #fff;
    cursor: pointer;
}
.nosdomaines .nosdomaines-content .grid-right .tic:hover{
    background: #caffa1;
    border: 2px solid #fff;
}
.nosdomaines .nosdomaines-content .grid-right .didactique{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 9rem;
    float: left;
    margin-right: 10rem;
    color: #91297f;
    background: #ffcdf7;
    border: .5px solid #fff;
    cursor: pointer;
}
.nosdomaines .nosdomaines-content .grid-right .didactique:hover{
    background: #ffb9f3;
    border: 2px solid #fff;
}
.postuler{
    /* float: left; */
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.postuler img{
    width: 1rem;
    margin-left: .4rem;
}


/* IMSP PAR LES CHIFFRES */
.imsp-par-les-chiffres{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imsp-par-les-chiffres .titre{
    display: flex;
    flex-direction: row; 
    font-family: 'Balsamiq Sans';
    font-size: 1rem;
}
.imsp-par-les-chiffres .titre .imsp{
    margin-right: 1rem;
    border-bottom: .8rem solid #0020FF;
    color: #001b50;
}
.imsp-par-les-chiffres .content{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 1rem;
}
.imsp-par-les-chiffres .content .first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imsp-par-les-chiffres .content .second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imsp-par-les-chiffres .content .first-row .etudiant{
    margin-right: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imsp-par-les-chiffres .content .first-row .datacenter{
    /* margin-right: 15rem; */
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imsp-par-les-chiffres .content .second-row .seminaire{
    /* margin-right: 15rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 2rem;
}
.imsp-par-les-chiffres .content .second-row .supercalculateur{
    /* margin-right: 11.2rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imsp-par-les-chiffres .circle{
    width: 4.8rem;
    height: 4.8rem;
    background-color: #0020FF;
    border-radius: 50%;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: .1rem solid #000; */
}
.imsp-par-les-chiffres .circle img{
    width: 2.3rem;
}
.imsp-par-les-chiffres .content span{
    color: red;
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: 'Balsamiq Sans';
}
.content .row .item:hover .chiffre span{
    font-size: 2.5rem;
    color: #001b50;
}


/* TOP ACTUALITÉS */
.top-actualites{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
}
.top-actualites .titre{
    margin-bottom: 2rem;
}
/* .top-actualites:hover .titre{
    border-bottom: .7rem solid #0020FF;
} */
.top-actualites .titre{
    font-family: 'Balsamiq Sans';
    color: #001b50;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-bottom: 2rem; */
}
.top-actualites .titre img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;

}
.top-actualites .items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.top-actualites .items .item{
    margin: 0 3rem;
    padding: 1rem;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-actualites .items .item:hover{
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.18);
    border: .5px solid #001b50;
}
.top-actualites .items .item .banner-actu img{
    width: 14rem;
}
.top-actualites .items .item .titre-actu{
    color: #001b50;
    margin-bottom: 1rem;
}
.top-actualites .items .item.trois{
    height: 20.55rem;
}
.top-actualites .scroll{
    margin: 2rem 0 0 0;
    display: flex;
}
.top-actualites .scroll .left, .top-actualites .scroll .right{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #001b50;
    color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    margin: 0 .5rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top-actualites .voir-plus{
    margin-top: 2rem;
    /* justify-content: none; */
    /* align-items: none; */
    float: right; 
    background-color: #001b50;
    padding: .5rem;
    border-radius: 3px;
}
.top-actualites .voir-plus:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75);
}
.top-actualites .voir-plus a{
    color: #fff;
    text-decoration: none;
}



/* NOS PARTENAIRES */
.nos-partenaires{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.nos-partenaires .titre{
    font-family: 'Balsamiq Sans';
    color: #001b50;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}
.nos-partenaires .titre img{
    width: 4rem;
    margin-left: 1.4rem;
}
.nos-partenaires .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nos-partenaires .items .first-row, .nos-partenaires .items .second-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.nos-partenaires .items .item{
    margin: 0 5rem;
}

.nos-partenaires .items .item img{
    width: 10rem;
}
.nos-partenaires .items .item.ictp img{
    width: 28rem;
}
.nos-partenaires .items .item.uac img{
    width: 8rem;
}
.nos-partenaires .items .item.ulco img{
    width: 6rem;
}
.nos-partenaires .items .item.opensi img{
    width: 15rem;
}
.nos-partenaires .items .item:hover{
    scale: 1.1;
}

/* NOS TÉMOIGNAGES */
.temoignages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.temoignages .titre{
    font-family: 'Balsamiq Sans';
    color: #001b50;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.temoignages .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.temoignages .items .item{
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    /* border: 1px solid #000; */
    padding: 2rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    
}
.temoignages .items .item:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.18);
}
.temoignages .items .item .people{
    margin-right: 4rem;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: #fd3300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #a0d4ff; */
}
.temoignages .items .item .people img{
    width: 8rem;
    margin-bottom: 1.2rem;
}
.temoignages .items .second{
    margin-left: 5rem;
}
.temoignages .voir-plus a{
    color: #fff;
    text-decoration: none;
    background-color: #001b50;
    padding: .5rem;
    border-radius: 3px;
    
}
.temoignages .voir-plus:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.75);
}


/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    /* align-items: center; */
    justify-content: center;
    
}
.footer .line{
    height: .6rem;
    background-color: #0020FF;
    margin-bottom: 2rem;
}
.footer .content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer .content .newletter, .footer .content .newletter .inputs{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.footer .circle{
    width: 2.6rem;
    height: 2.6rem;
    background-color: #0020FF;
    border-radius: 50%;
    margin: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer .circle img{
    width: 1.7rem;
}
.footer .circle img.linkedin{
    width: 1.5rem;
}
.footer .items .item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: .25rem 0;
    color: #001b50;
}
.footer .lien{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;

}
.footer .lien a{
    text-decoration: none;
    color: #001b50;
}
.footer .lien a:hover{
    color: red;
}
.footer .lien a img{
    width: .8rem;
}
.footer .content{
    padding: 0 8rem;
}
.footer .content .newletter .titre h2{
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Ubuntu';
}
.footer .content .newletter .titre p{
    font-family: 'Courier New', Courier, monospace;
}
.footer .content .newletter .inputs input{
    margin: .25rem 0;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
    
    font-weight: 900;
    font-size: 1rem;
}
.footer .content .newletter .inputs input:focus{
    background-color: #dce0ff;
}
.footer .content .newletter .inputs input.button{
    width: 6.5rem;
}
.footer .wave{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
}
.footer .wave .copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .wave .copyright img{
    width: 100vw;
}
.footer .wave .copyright p{
    position: absolute;
    z-index: 1;
    
    margin-top: 5.1rem;
}
.footer .wave .copyright img.copyright{
    width: 1.1rem;
    position: absolute;
    z-index: 1;
    margin-top: 5.1rem;
    margin-left: -10rem;
}

/* 
    solve dropdown problems 
        solution available    
*/